* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: rgba(135, 206, 250, 0.5);
}

h1 {
  color: darksalmon;
}

nav {
  border-top: 3px solid darksalmon;
  padding: 10px;
}

/* nav ul {
} */

nav li {
  display: inline;
  padding-right: 30px;
}

h1,
h2 {
  text-align: center;
  padding: 10px;
}

body {
  margin: 0 auto;
}

main {
  padding: 2% 15px;
  background-image: url(./images/blue_pattern.jpg);
}

table,
td,
th {
  border: 1px solid salmon;
  border-collapse: collapse;
  padding: 0.5em;
}

td:first-child::first-line {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

footer {
  background-color: rgba(135, 206, 250, 0.5);
}
